*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

header{
  padding: 20px;
  text-align: center;
}
header h1{
  font-size: 46px;
  font-weight: bold;
  color: chocolate;
}
header h3{
  font-size: 30px;
  color: #000;
}


.courses{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
}
.course-card{
  display: flex;
  gap: 10px;

  height: 200px;
}
.course-card img{
  height: 100%;
  width: 40%;
}
.title h2{
  font-size: 24px;
}
.title p{
  font-size: 16px;
  color: #444;
}
.price {
  font-size: 17px;
}